$sansserif: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial,
  sans-serif;

/** Import modern-css-reset */
@import 'modern-css-reset/src/reset';
pre,
code,
.highlight {
  tab-size: 2;
  hyphens: none;
  word-break: keep-all;
  overflow: auto;
}

a {
  &:hover,
  &:visited:hover {
    color: rgb(72, 72, 255);
  }
}

p,
li {
  pre,
  code {
    font-family: monospace;
    color: #e02e37;
    font-size: 80%;
    background-color: #f7f8f9;
    border: 1px solid #f0f4f7;
    border-radius: 0.15rem;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
    padding: 0rem 0.3rem;
  }
}

@import './syntax.scss';
@import './typebase.scss';

body {
  background-color: white;
  color: color(srgb 0.2269 0.2072 0.1683);
}

header {
  margin: 0 auto;
  .logo {
    background: #343950;
    border-bottom: 1px solid lighten(#343950, 10%);
    color: rgb(198, 198, 198);
    a {
      color: #fefefe;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
    p {
      color: #fefefe;
      line-height: 1.5;
      font-size: 1.8rem;
    }
    h1,
    h2 {
      font-family: monospace;
      line-height: 1.5;
      font-size: 1.2rem;
      margin-top: 0;
    }
    h1 {
      &:before {
        content: '$';
        padding-right: 0.5rem;
      }
    }
    h2 {
      font-weight: normal;
      &:before {
        content: '#';
        padding-right: 0.5rem;
      }
    }
  }

  nav {
    font-family: $sansserif;
    background: #292f42;
    border-bottom: 1px solid lighten(#292f42, 20%);
    ul,
    li {
      display: inline-block;
      margin-right: 24px;
      padding-left: 0;
    }
    a {
      color: white;
      text-decoration: none;
      &:visited:hover,
      &:hover {
        text-decoration: underline;
        color: rgb(227, 227, 255);
      }
    }
  }
}

.home {
  header {
    .logo {
      min-height: 80vh;
      display: flex;
      align-items: center;
      padding: 40px 0;
    }
    h1,
    h2 {
      font-size: 2.5em;
    }
  }
}
header nav ul,
.logo--inner,
main,
footer {
  display: block;
  padding: 10px 35px 15px 35px;
  max-width: 1180px;
  margin: 0 auto;
}

.perex {
  font-size: 125%;
  padding-bottom: 32px;
  p {
    line-height: 1.7;
    color: #1e1e1e;
  }
}

.single {
  .article-header {
    margin-top: 1.9rem;
    margin-bottom: 0.5rem;
    h1 {
      margin-top: 0;
    }
  }
  .article-wrapper {
    display: flex;
    justify-content: center;
  }
  .article-body {
    flex: 1;
    max-width: 780px;
    word-break: break-word;
  }
  aside {
    width: 420px;
    padding: 0 16px;
    margin-left: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .hash-link {
    font-size: 80%;
    opacity: 0;
    text-decoration: none;
    color: rgb(198, 198, 198);
    transition: opacity 0.15s ease-in-out;
    &:hover {
      color: rgb(125, 125, 125);
    }
  }
  &:hover {
    .hash-link {
      opacity: 1;
    }
  }
}

.toc {
  font-size: 0.75rem;
  nav > ul {
    padding-left: 0px;
    padding-top: 8px;
    list-style-type: none;
  }
  ul li {
    line-height: 1.65;
  }
  a {
    font-weight: 100;
  }
  h4 {
    font-size: 1rem;
    margin-top: 0rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0rem;
  }
}

.breadcrumb {
  font-family: $sansserif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 0.7rem;
  a {
    color: lighten(#343950, 45%);
    &:hover {
      color: lighten(#343950, 5%);
    }
  }
  li {
    display: inline;
    white-space: nowrap;
  }
  li + li:before {
    content: '>';
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14 / 16 * 100%;
  }
  .home {
    header {
      .logo {
        min-height: 0;
        padding: 0;
      }
      a {
        text-decoration: underline;
      }
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }
  }
  header nav ul,
  .logo--inner,
  main,
  footer {
    padding: 15px;
  }
  .md-columns {
    flex-direction: column;
  }
}

.md-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;

  > div {
    flex: 1 1;
    margin: 1rem 0;
    min-width: 100px;
    max-width: 100%;
    padding: 0 1rem;
  }

  .markdown-inner {
    margin-top: 0;
    margin-bottom: 0;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

$calloutElements: p, h2, h3, h4, h5, h6;
.callout {
  padding: 0.9rem;
  margin: 1rem 0;
  border-left: 0.5rem solid darken(#e3f3e9, 30%);
  background: #e3f3e9;
  color: darken(#e3f3e9, 90%);
  @each $element in $calloutElements {
    & > #{$element}:first-child {
      margin-top: 0;
    }
  }
}

blockquote {
  padding: 0.9rem;
  margin: 1rem 0;
  border-left: 0.5rem solid darken(#fefefe, 30%);
  color: darken(#e3f3e9, 90%);
  p {
    font-size: 110%;
  }
  @each $element in $calloutElements {
    & > #{$element}:first-child {
      margin-top: 0;
    }
  }
}

.readMoreLink {
  font-size: 80%;
  padding: 0.7rem 0.7rem 0.55rem 0.7rem;
  margin: 0.5rem 0;
  border-left: 0.5rem solid darken(#e3eef3, 30%);
  background: #e3eef3;
  color: darken(#e3eef3, 90%);
}
/*** VARIABLES ***/
/* Colors */
$black: #1d1f20;
$green: #e3f3e9;

.importantList {
  // https://codepen.io/erinesullivan/pen/qGrdGV
  ol {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
    > li {
      background: white;
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      box-shadow: 0.15rem 0.45rem 0.3rem rgba(0, 0, 0, 0.05),
        0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
      counter-increment: gradient-counter;
      margin-top: 1rem;
      min-height: 3rem;
      padding: 1rem 1rem 1rem 3rem;
      position: relative;
      &::before,
      &::after {
        background: darken($green, 20%);
        border-radius: 10rem;
        content: '';
        height: 3rem;
        left: -1rem;
        overflow: hidden;
        position: absolute;
        top: -1rem;
        width: 3rem;
      }
      &::before {
        align-items: center;
        content: counter(gradient-counter);
        color: lighten($black, 15%);
        display: flex;
        font-weight: 900;
        font-size: 1.1rem;
        text-shadow: 1px 1px 2px darken($green, 10%);
        font-family: $sansserif;
        justify-content: center;
        padding: 0.125em 0.25em;
        z-index: 1;
      }
      + li {
        margin-top: 2rem;
      }
    }
  }
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.3rem;
}
