{{ define "main" }} {{ partial "breadcrumbs.html" . }}
<article>
  <div class="article-header">
    <h1>{{ .Title }}</h1>
    {{ if gt (.RawContent | strings.Count "<!--more-->") 0 }}
    <div class="perex">{{ .Summary }}</div>
    {{ end }}
  </div>

  <div class="article-wrapper">
    <div class="article-body">
      <div class="toc">
        <hr />
        <h4>Table Of Contents</h4>
        {{ .Page.TableOfContents }}
        <hr />
      </div>
      {{ if gt (.RawContent | strings.Count "<!--more-->") 0 }} {{ $parts :=
      split .RawContent "<!--more-->" }} {{ .RenderString (index $parts 1) }} {{
      else }} {{ .Content }} {{ end }}
      <hr />
      {{partial "related.html" . }}
    </div>
  </div>
</article>
{{ end }}
